PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/doctorg24?retryWrites=true&w=majority
JWT_SECRET=doctorg24_dr_manoj_gupta_agra_v2_2025_secret
CLIENT_URL=https://doctorg24.in
ADMIN_EMAIL=guptamanukrishna10@gmail.com
ADMIN_PASSWORD=DrManoj@2025
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=guptamanukrishna10@gmail.com
SMTP_PASS=your_gmail_app_password_16_chars
